#header {
  text-align: center;
  vertical-align: middle;
  padding: 25px;
}

#content {
  padding-left: 25px;
}

h1,h2 {
  padding-left: 0px;
}

h3 {
  padding-left: 20px;
}

p {
  padding-left: 20px;
}

#subtitle {
  padding-left: 20px;
}

ul {
  line-height: 150%;
}